
.flex{
	flex-grow: 1;
}

.limeGreen{

	padding: 10 0 0 0px;
	margin: 10 0 0 0px;
	color: green;
	font-family: 'Ubuntu', sans-serif;
}

.white{
	padding: 10 0 0 0px;
	margin: 10 0 0 0px;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}